* {
	margin: 0;
	padding: 0;
}

body {
	width: 892px;
	height: 1386px;
	margin: 0 auto;
	padding: 0 44px;
}

#head {
	width: 892px;
	height: 61px;
	border-bottom: solid 2px #938e8c;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

/*top*/
#head div {
	width: 110px;
	height: 61px;
	font-size: 12px;
	color: #ffffff;
	background-color: rgb(212,93,92);
	display: flex;
	align-items: flex-end;
}

#head div span {
	margin-left: 8px;
	font-family: "SimHei";
}

#head>span {
	font-size: 12px;
	color: #d45d5c;
	font-family: "SimHei";
}



/*1*/
#up {
	margin-top: 34px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 41px;
}
	
#up-left {
	width: 641px;
	height: 301px;
	background:url("1.jpg");
	background-size: 100% 100%;
	display: flex;
	justify-content: space-between;
}

.up-left-left {
	width: 191px;
	height: 301px;
	background-color: green;
	opacity: 0.3;
}

.up-left-right {
	width: 191px;
	height: 301px;
	background-color: red;
	opacity: 0.3;
}

#up-right {
	width: 203px;
	height: 289px;
	border-top: solid 2px #cc8091;
	padding-top: 12px;
}

#up-right p {
	display: inline-block;
}

.up-right-1 {
	font-size: 18px;
	color: #000000;
	font-family: "微软雅黑";
	text-decoration: underline;	
	line-height: 20px;
	margin-bottom: 7px;
}

.up-right-1-1 {
	font-size: 24px;
}

.up-right-2 {
	font-size: 12px;
	color: #676767;
	font-family: "楷体";
	margin-top: -5px;
}

.up-right-3 {
	font-size: 116px;
	line-height: 116px;
	color: #75b86b;
	font-family: "微软雅黑";
	font-style: oblique;
	margin-left: -16px;
	margin-top: 20px;
}

.up-right-4 {
	font-size: 55px;
	color: #cc8091;
	font-family: "微软雅黑"; 
}

.up-right-5 {
	width: 70px;
	display: inline-block;
}

.up-right-5-1 {
	font-size: 21px;
	line-height: 21px;
	color: #cc8091;
	font-family: "微软雅黑"; 
	display: block;
}

.up-right-5-2 {
	font-size: 12px;
	line-height: 12px;
	color: #cc8091;
	font-family: "微软雅黑"; 
	display: block;
}

/*middle*/
#middle { display: flex; }
 
#m-left { 
	width: 227px; 
	margin-right: 30px;
}

#m-middle { 
	width: 203px ;
	margin-right: 31px;
}

#m-right { width: 131px; }

.m-0 {
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: 11px;
}

.m-1 {	color: #418c59; }

.m-2 {	color: #d2994f; }

.m-3 {	color: #cc7680; }

.m-main {
	font-size:12px;
	color: #767777;
	font-family: "宋体";
	line-height: 16px;
}

#m-right span{
	color: #cd4a48;
	font-style: oblique;
	opacity: 0.7;
}

.m-main-right { line-height: 20px; }
 
.m-main-last { margin-top: 31px; }


/*down*/
#down {
	margin-top: 74px;
	display: flex;
}

#d-left {
	width: 415px;
	margin-right: 19px;	
}

 #d-left-top {
 	border-bottom: solid 2px #11456b;
 	margin-bottom: 24px;
 }

 #d-left-top span {
 	font-size: 72px;
 	color: #f5e327;
 	font-family: "黑体";
 	font-weight: bold;
 	font-style: oblique;
 	margin-right: 31px;
 }

 .d-left-top-1 {
 	font-size: 42px;
 	color: #11456b;
 	font-family: "黑体";
 	font-weight: bold;
 	line-height: 46px;
 }

.d-left-top-2 {
 	font-size: 33px;
 	color: #11456b;
 	font-family: "黑体";
 	font-weight: bold;
 }



#d-left-main {
	width: 415px;
}

#d-left-main span {
	font-size: 70px;
	color: #f5e327;
	font-family: "微软雅黑";
	line-height: 70px;
	float: left;
	margin-right:9px;
}

#d-left-main p {
	font-size: 12px;
	color: #767777;
	font-family: "宋体"；
	line-height：28px;
}

.d-left-main-1 {
	text-indent: 2em;
}

#d-left-main img {
	margin: 21px 0 15px 21px;
	float: right;
}



#d-right {
	width: 458px;
}

#d-right-up {
	width: 458px;
	height: 275px;
	background: url("3.jpg");
	display: flex;
	flex-direction: column-reverse;
}

.d-right-up-1 {
	width: 458px;
	height: 61px;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	align-items: center;
}

.d-right-up-2 {
	height: 44px;
	border-left: solid 3px #72b16a;
	margin-left: 38px;
	opacity: 1;
	display: flex;
	align-items: center;
}

.d-right-up-2 span:nth-child(1){
	margin-left: 11px;
	font-size: 26px;
	color: #ffffff;
	font-family: "微软雅黑";
}

.d-right-up-2 span:nth-child(2) {
	margin-left: 8px;
	font-size: 12px;
	color: #72b16a;
	font-style: oblique;
	font-family: "微软雅黑";
	margin-bottom:-16px;
}

#d-right-down {
	width: 459px;
	height: 318px;
	margin-top: 30px;
	background-color: rgb(238,237,214);
	position: relative;
}

#d-right-down ul {
	list-style-image: url(""); 	
	position: absolute;
	top: 30px;
	right: 20px;
}

#d-right-down ul li {
	font-size: 16px;
	color: #5a5b5b;
	font-family: "宋体";
	line-height: 32px;
	text-align: left;
}

#d-right-down ul span {
	font-size: 12px;
	font-style: oblique;
	text-align: right;
}


#d-right-down-1 {
	width: 260px;
	height: 160px;
	margin-right: 16px;
	background-color: rgb(212,93,92);
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
}

#d-right-down-1 span{
	font-size: 110px;
	color: #ffffff;
	font-family: "微软雅黑";
	margin-left: 10px;
}

#d-right-down-1 div {
	height: 86px;
	width: 160px;
	border-left: solid 2px #ffffff;
	display: flex;
	flex-direction: column;
	padding-left: 8px;
}

#d-right-down-1 div p:nth-child(1),#d-right-down-1 div p:nth-child(2){
	font-size: 21px;
	color: #ffffff;
	font-style: oblique;
	line-height: 24px;
	font-family: "黑体";
	margin-bottom: 4px;
}

#d-right-down-1 div p:nth-child(3) {
	font-size: 12px;
	font-family: "黑体";
	color: #ffffff;
	line-height: 12px;
}

#d-right-down-2 {
	height: 160px;
	width: 162px;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 15px;
}

#d-right-down-2 div {
	font-size: 72px;
	color: #d45d5c;
	font-family: "黑体";
}

#d-right-down-2 div:nth-child(1){
	float: left;
	height: 27px;
	width: 75px;
	margin-top: -8px;
	margin-left: -42px;
}

#d-right-down-2 div:last-child{
	float: right;
	margin-top: -18px;
	margin-right: -36px;
}

#d-right-down-2 p {
	font-size: 14px;
	color: #5a5b5b;
	font-family: "黑体";
	font-style: oblique;
	line-height: 16px;
	margin-top: 10px;
}



/*foot*/
#foot {
	width: 892px;
	height: 20px;
	margin-top: 40px;
	border-top: 1px solid #938e8e;
	display: flex;
	flex-direction: row-reverse;
}

#foot span {
	font-size: 12px;
	color: #d45d5c;
	font-family: "黑体"；
}