* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


table {
	border-collapse: collapse;    /*单元格间距为0*/
	margin-bottom: 20px;
}

table th {
	width: 6.5vw;
	height: 6.5vw;
}

table tr:first-child th {       /*上边框*/
	border-bottom: 2px solid black;
}

table tr:not(:first-child) th {
	border-right: 2px solid black;  /*左边框*/
}

table tr:first-child th:first-of-type {   /*（0,0）*/
	border: 0px; 
}

table tr td:last-of-type {      /*右边框*/
	border-right: 2px solid black;
}

table tr:last-child td{      /*下边框*/
	border-bottom: 2px solid black;
}

table td {
	width: 6.5vw;
	height: 6.5vw;
	border-right: 1px solid rgb(210,210,210);
	border-bottom: 1px solid rgb(210,210,210);
}

/*方块*/
#cube {
	background: red url(cubeHead.png) repeat-x 0 0;
	position: relative;
	transition-property: right,bottom,transform;  /*动画*/
	-moz-transition-property: right,bottom,-moz-transform; /* Firefox 4 */
	-webkit-transition-property:right,bottom,-webkit-transform; /* Safari 和 Chrome */
	transition-duration: 1s;
	transition-timing-function: ease-out;
}




#order {
	margin-left: 40px;
	width: 26vw;
	height: 4.7vw;
}

#doing {
	height: 4.7vw;
	width: 7.8vw;
	margin-left: 15px;
}

#anniu {
	margin-left: 40px;
	margin-top: 30px;
	display: flex;
	width: 36vw;
	justify-content: space-between;
	flex-wrap: wrap;
}

#anniu input {
	width: 12.5vw;
	height: 4.7vw;
	margin-bottom: 10px;
}


